li {
    background-color: #4E4E4E;
    color: white;
}

#angle {
    width: 15%;
}

#sharp {
    width: inherit;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container-horizontal {
    display: flex;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 80%;
    margin: 10px;
    height: 50%;
    text-align: center;
    line-height: 75px;
    font-size: 30px;

}

.tab {
    color: white;
}

#nav {
    background-color: #000;
}

.nav .navbar-nav {
    margin:0;
}

#buttonwrap{
    padding-left: 0;
}

body {
    font-family: Open Sans;

}

#service2 {
    background-color: #C4C4C4;
}

#service1 {
    background-color: #C4C4C4;
}

#service3 {
    background-color: #C4C4C4;
}

* {
    box-sizing: border-box;
}

.box {
    float: left;
    width: 50%;
    height: 300px;
    margin:10px;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}