<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
           version="4.0">
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>

    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>

    <context-param>
        <param-name>email</param-name>
        <param-value>sercgroundstation@gmail.com</param-value>
        <!-- add email-->
    </context-param>
    <context-param>
        <param-name>name</param-name>
        <param-value>USC SERC</param-value>
        <!-- add name-->
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>satsstans</param-value>
        <!-- add password-->
    </context-param>

    <context-param>
        <param-name>sband_host</param-name>
        <param-value>127.0.0.1</param-value>
        <!-- add desktop host-->
    </context-param>
    <context-param>
        <param-name>uhf_host</param-name>
        <param-value>127.0.0.1</param-value>
        <!-- add desktop host-->
    </context-param>
    <context-param>
        <param-name>desktop_port</param-name>
        <param-value>6789</param-value>
        <!-- add desktop port-->
    </context-param>
    <context-param>
        <param-name>python_port</param-name>
        <param-value>2186</param-value>
        <!-- add desktop port-->
    </context-param>

</web-app>
